{% extends '::base.html.twig' %}

{%- block meta_title -%}
    {{ 'home.meta_title'|trans({}, 'cocorico_meta') ~ " - " ~ cocorico_site_name }}
{%- endblock -%}

{%- block meta_description -%}
    {{ 'home.meta_desc'|trans({}, 'cocorico_meta') }}
{%- endblock -%}

{% block theme %}home-page{% endblock %}

{% block layout %}
    {% embed '@CocoricoCore/Frontend/layout.html.twig' %}

        {% trans_default_domain 'cocorico_home' %}

        {% block sub_header %}
            {#<!-- visual -->#}




            <div class="visual text-center">
            
		<div class="container-fluid" >
<!--
<div id="carousel">
    <div>
        <h3>Infinity</h3>
        <p>A concept that in many fields refers to a quantity without bound or end.</p>
    </div>
    <div>
        <h3>Circular journey</h3>
        <p>An excursion in which the final destination is the same as the starting point.</p>
    </div>
</div>
-->





			<div class="row hidden-md hiddem-sm hidden-xs homeSlider" style="padding-bottom: 55px;">
				<h2 >A better way to get <br>and<br> pay for medical services</h2>
				<h5></h5>
			</div>
    			<div class="row">
      				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center-block">
					{{ render(controller('CocoricoCoreBundle:Frontend/ListingSearch:searchHomeForm')) }}
				</div>
    			</div>
  		</div>


	    </div>
<!-- {{ render(controller('CocoricoCoreBundle:Frontend/ListingSearch:searchHomeForm')) }}-->

<!--------------------------------------------------------------------------->

<div class="row homeCardsRow">
  <div class="homeCardcolumn">
    <div class="homeCard">
    <h3>Save</h3>
      <p> By Using MyFairMd you can save hundreds of dollars and get medical services you need
</p>
      <p><a href="#">Learn More</a></p>
    </div>
  </div>

  <div class="homeCardcolumn">
    <div class="homeCard">
      <h3>No Waiting</h3>
      <p>Using MyFairMD you can get the next available appointment.  No more waitng for insurance approvals.</p>
      <p><a href="#">Learn More</a></p>
    </div>
  </div>
  
  <div class="homeCardcolumn">
    <div class="homeCard">
      <h3>Choices</h3>
      <p>MyFairMd offers choices in service provider.  Choose the one that fits your needs</p>
      <p><a href="#">Learn More</a></p>
    </div>
  </div>
 
</div>



<div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                       <div class="section-title medical-title service-title text-center">
                            <h1>why we are <span class="color-h">the best</span></h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates aut iste dolores <br>aspernatur est voluptate, maiores ex molestiae vel fuga!</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="best-content text-right">
                            <div class="row">
                                <!--start-single-best-->
                                <div class="col-sm-12 col-xs-12">
                                    <div class="single-best-item sing-bes-p">
                                        <div class="signle-text">
                                            <h4>Well Experienced Teacher</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis.</p>
                                        </div>
                                        <span class="sing-best-icon">
                                            <i class="fa fa-male"></i>
                                        </span>
                                    </div>
                                </div>
                                <!--end-single-best-->
                                <!--start-single-best-->
                                <div class="col-sm-12 col-xs-12">
                                    <div class="single-best-item">
                                        <div class="sing-best-icon">
                                            <i class="fa fa-graduation-cap"></i>
                                        </div>
                                        <div class="signle-text">
                                            <h4>special care for Student</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, quod.</p>
                                        </div>
                                    </div>
                                </div>
                                <!--end-single-best-->
                                <!--start-single-best-->
                                <div class="col-sm-12 col-xs-12">
                                    <div class="single-best-item">
                                        <div class="sing-best-icon">
                                            <i class="fa fa-hospital-o"></i>
                                        </div>
                                        <div class="signle-text">
                                            <h4>Free Counseling</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis.</p>
                                        </div>
                                    </div>
                                </div>
                                <!--end-single-best-->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="best-img wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
                            <img class="img-responsive" src="img/why-best/2.png" alt="Image">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="best-content">
                            <div class="row">
                                <!--start-single-best-->
                                <div class="col-sm-12 col-xs-12">
                                    <div class="single-best-item sing-bes-p">
                                        <div class="sing-best-icon left-icon">
                                            <i class="fa fa-phone"></i>
                                        </div>
                                        <div class="signle-text right-c">
                                            <h4>Online Bill Payment</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, quod.</p>
                                        </div>
                                    </div>
                                </div>
                                <!--end-single-best-->
                                <!--start-single-best-->
                                <div class="col-sm-12 col-xs-12">
                                    <div class="single-best-item">
                                        <div class="sing-best-icon left-icon">
                                            <i class="fa fa-ambulance"></i>
                                        </div>
                                        <div class="signle-text right-c">
                                            <h4>Free Transport</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, quod.</p>
                                        </div>
                                    </div>
                                </div>
                                <!--end-single-best-->
                                <!--start-single-best-->
                                <div class="col-sm-12 col-xs-12">
                                    <div class="single-best-item">
                                        <div class="sing-best-icon left-icon">
                                            <i class="fa fa-h-square"></i>
                                        </div>
                                        <div class="signle-text right-c">
                                            <h4>Advanced Technology</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, quod.</p>
                                        </div>
                                    </div>
                                    
                                </div>
                                <!--end-single-best-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>ß




<div class="jumbotron">
        <h2>Transparent Upfront Pricing!</h2>
        <p class="lead">
		MyFairMd shows you the price the price you will pay.  No hidden fees or surprises.  
	</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>
      </div>



<div><p></p></div>



<!-------------------------------------------------------------------------->








        {% endblock %}





 
        {% block main %}
          <section>


	  </section>  
           
        {% endblock %}

        {% block modal %}
            {% include 'CocoricoCoreBundle:Frontend/Common:_modal.html.twig' only %}
        {% endblock %}
    {% endembed %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    {#Geocoding #}
    {% include '@CocoricoCore/Frontend/ListingResult/js/_geocoding_js.html.twig' with {
    'map_elt': '',
    'auto_complete_elt': '#location'
    } only %}

    <script>
        // Categories
        $(function () {

            // Set default favourites in the listing
            setDefaultFavourites();

            initMultiSelect(
                    '#categories',
                    '{{ "multiselect.all_selected"|trans({}, "cocorico")|e('js') }}',
                    '{{ "multiselect.none_selected"|trans({}, "cocorico")|e('js') }}',
                    '{{ "multiselect.num_selected"|trans({}, "cocorico")|e('js') }}'
            );
        });
    </script>
{% endblock %}

{% block markup_jsonld %}
    {{ parent() }}

    {% include 'CocoricoSeoBundle:Frontend:Home/_index_markup.jsonld.twig' ignore missing with {
    'listings': listings
    } only %}
{% endblock %}
